.before-after, .before {
  position: relative;
}

.before-after:before {
  left: 0;
  border-right: 25px solid transparent;
}

.before-after:after {
  right: 0;
  border-left: 25px solid transparent;
}

.before-after:before, .before-after:after {
  position: absolute;
  content: "";
  top: -30px;
  width: 6%;
  border-bottom: 30px solid #fff;
  z-index: 10;
}

.bg-white {
  background: #fff;
}
